<%- include('partials/header.ejs'); %>
<h1>Current Bills Of Materials </h1>
<div class="ui grid">
    <div class="row">
        <div class="ui middle aligned relaxed divided list six wide column">
            <div class="item">
            <div class="right floated content">
                <div class="ui button">Edit</div>
                <div class="ui button">Delete</div>
            </div>
            <div class="content" style="display: inline-flex;">
                <div>
                    <h3><a href="#">This is the title</a></h3>
                    Vendor Name
                </div>
                <div style="margin: 0 20px 0 20px">
                    <h3>Jan. 15th, 2021</h3>
                    Placed By Tess
                </div>
                <div style="margin: 0 20px 0 20px">
                    <h3><strong>Status:</strong> Draft</h3>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ui middle aligned relaxed divided list six wide column">
            <div class="item">
            <div class="right floated content">
                <div class="ui button">Edit</div>
                <div class="ui button">Delete</div>
            </div>
            <div class="content" style="display: inline-flex;">
                <div>
                    <h3><a href="#">This is the title</a></h3>
                    Vendor Name
                </div>
                <div style="margin: 0 20px 0 20px">
                    <h3>Jan. 15th, 2021</h3>
                    Placed By Tess
                </div>
                <div style="margin: 0 20px 0 20px">
                    <h3><strong>Status:</strong> Draft</h3>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ui middle aligned relaxed divided list six wide column">
            <div class="item">
            <div class="right floated content">
                <div class="ui button">Edit</div>
                <div class="ui button">Delete</div>
            </div>
            <div class="content" style="display: inline-flex;">
                <div>
                    <h3><a href="#">This is the title</a></h3>
                    Vendor Name
                </div>
                <div style="margin: 0 20px 0 20px">
                    <h3>Jan. 15th, 2021</h3>
                    Placed By Tess
                </div>
                <div style="margin: 0 20px 0 20px">
                    <h3><strong>Status:</strong> Draft</h3>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ui middle aligned relaxed divided list six wide column">
            <div class="item">
            <div class="right floated content">
                <div class="ui button">Edit</div>
                <div class="ui button">Delete</div>
            </div>
            <div class="content" style="display: inline-flex;">
                <div>
                    <h3><a href="#">This is the title</a></h3>
                    Vendor Name
                </div>
                <div style="margin: 0 20px 0 20px">
                    <h3>Jan. 15th, 2021</h3>
                    Placed By Tess
                </div>
                <div style="margin: 0 20px 0 20px">
                    <h3><strong>Status:</strong> Draft</h3>
                </div>
            </div>
            </div>
        </div>
    </div>   
</div>

  <%- include('partials/footer.ejs'); %>  