<%- include('partials/header.ejs'); %>
<script src="/js/onscan.min.js"></script>
<script type="text/javascript">
let skus = [];

let negSound = function (){
  let audio = new Audio(
    "../wav/uhoh.wav");
    audio.play();
}

let posSound = function (){
  let audio = new Audio(
    "../wav/ringsound.wav");
    audio.play();
}

let sucSound = function (){
  let audio = new Audio(
    "../wav/success.wav");
    audio.play();
}

let set_message = function (sCode) {
  let container = $("#message_container");
  $(container)
    .show()
    .append('<p>' + sCode + ' is the correct item!</p>')
    .animate({ right: "25%" }, "slow");
};

let set_neg_message = function (sCode) {
  let container = $("#neg_message_container");
  $(container)
    .show()
    .append('<p>' + sCode + ' is an incorrect item!</p>')
    .animate({ right: "10%" }, "slow");
};

let set_muppet = function () {
  let container = $("#muppet_container");
  let num = Math.floor(Math.random() * 12) + 1;
  $(container)
    .show()
    .append('<h1>Order Complete!</h1><img src=\"../muppets/' + num + '\.gif">')
    .delay(5000)
    .fadeOut("slow", function () {
      $("#muppet_container")
        .removeAttr("style")
        .hide();
    });
};

onScan.attachTo(document, {
    suffixKeyCodes: [13], // enter-key expected at the end of a scan
    reactToPaste: true, // Compatibility to built-in scanners in paste-mode (as opposed to keyboard-mode)
    keyCodeMapper: function(oEvent) {
	// Look for special keycodes or other event properties specific to
	// your scanner
	if (oEvent.which == '189') {
		return '-';
	}
	// Fall back to the default decoder in all other cases
	return onScan.decodeKeyEvent(oEvent);
    },
    onScan: function(sCode) { // Alternative to document.addEventListener('scan')
      if(sCode.includes('-') === false){
        $.ajax({                                      
        url: '../scan/' + sCode,                                      
        success: function(data)          
        {
          data = JSON.parse(data);
          let orderTable = "<h1>Order " + data[0].order_id + "</h1><table class=\"ui celled collapsing table\"><thead><tr><th>Scanned</th><th>Qty.</th><th>Sku</th><th>Product</th></tr></thead><tbody>";
          for (let obj of data){
              orderTable += "<tr><td><div class=\"ui fitted checkbox field\"><input type=\"checkbox\" id=\"" + obj.sku + "\"><label></label></div></td><td>" + obj.quantity + "</td><td>" + obj.sku + "</td><td>" + obj.title + "/" + obj.variant + "</td></tr>";
              skus.push(obj.sku);
            }  
          orderTable += "</tbody></table>";
          document.getElementById("table-wrapper").innerHTML = orderTable;
          var container = $("#neg_message_container");
          var container2 = $("#message_container");
          $(container)
            .fadeOut("slow", function () {
              $("#neg_message_container")
                .removeAttr("style")
                .hide();
            });
          $(container2)
            .fadeOut("slow", function () {
              $("#message_container")
                .removeAttr("style")
                .hide();
            });        
          } 
        }); 
      } else {
        if(document.getElementById(sCode) != null){
          let index = skus.indexOf(sCode);
          skus.splice(index, 1);
          document.getElementById(sCode).checked = true;
          set_message(sCode);
          if(skus.length === 0){
            set_muppet();
            sucSound();
          } else {
            posSound();
          }
        } else {
          set_neg_message(sCode);
          negSound();
        }
      }   
    }
});

</script>
<div id="content-outer">
    <div id="content">
        <h1>Scan An Order's Barcode</h1>
        <div id="content-inner">
            <div class="page-content" id="table-wrapper">
            </div>
        </div>
    </div>
</div>
</div>
<div id="message_container" class="ui massive floating positive message" style="display: none">
</div>
<div id="neg_message_container" class="ui massive floating negative message" style="display: none">
</div>
<div id="muppet_container" class="ui tiny modal" style="display: none">
</div>

<%- include('partials/footer.ejs'); %>